
body{
  background-image: url(../images/jungle.jfif);
  background-size: cover;
}
/* .header_bg{
  background-color: peru;
  background-image: url(../images/jungle.jfif);
  background-size: cover;
  background-repeat: no-repeat;
} */