.header_class{
  color: black;
  background-color: red;
}
.article_content{
  #main_heading{
    color: rgb(110, 109, 109);
  }
}
h1{
  color: red;
}
.tag_line{
  background-color: rgb(61, 192, 192);
}